body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.clouds-wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    filter: blur(0.25px);
}

.toggle {
    display: block;
    text-align: center;
    margin-top: 40px;
    user-select: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to
/* .fade-leave-active below version 2.1.8 */

    {
    opacity: 0;
}

.about {
    text-align: justify;
}

.dark-theme {}

.light-theme {}

.dark-theme>.background {
    background-color: #1f1f3a;
    color: white;
}

.dark-theme>.drawer {
    background-color: #222029;
    color: white;
}

.dark-theme>.container>.input-container {
    background-color: rgba(0, 0, 0, 0.1);
}

.dark-theme>.container>.snackbar-stack>span>.snackbar {
    background-color: #222029 !important;
    color: #FFFFFF;
}

.dark-theme>.container>.input-container>.action-btn {
    background-color: #34323D;
}

.light-theme>.background {
    background-color: #4fc3f7;
    color: black;
}

.light-theme>.drawer {
    background-color: rgba(255, 255, 255, 1);
}

.light-theme>.container>.input-container {
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
}

.light-theme>.container>.snackbar-stack>span>.snackbar {
    background-color: rgba(255, 255, 255, 0.9);
}

.light-theme>.container>.input-container>.action-btn {
    background-color: #4fc3f7;
}

.animate {
    transition: background-color 600ms ease, color 600ms ease;
}

.menu-btn {
    user-select: none;
    cursor: pointer;
    color: inherit;
    position: absolute;
    z-index: 5;
    top: 1rem;
    left: 1rem;
}

.remove-btn {
    transition: transform 0.3s ease;
    cursor: pointer;
    opacity: .2;
    font-size: 30pt !important;
}

.struct {
    overflow: hidden;
}

.cloud-warpper {
    position: absolute;
}

.menu {
    position: absolute;
    height: 100vh;
    left: -100vw;
    width: 100vw;
    padding: 1rem .5rem;
    box-sizing: border-box;
    z-index: 5;
    transition: left 1s ease, background-color 600ms, color 600ms ease;
}

.menu-open {
    left: 0;
}

.input-container {
    backdrop-filter: blur(2px);
    user-select: none;
    z-index: 2;
    height: 5rem;
    padding: 0 .75rem 0 1rem;
    border-radius: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input {
    height: 2rem;
    width: 12rem;
    font-size: 18pt;
    outline: none;
    color: inherit;
    background-color: transparent;
    border-radius: 4rem;
    border-style: none;
}

.action-btn>span {
    transition: transform .6s ease;
}

.action-btn:hover>span {
    transform: rotate(-45deg);
}

.remove-btn:active {
    transform: scale(1.5);
}

.action-btn {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.snackbar {
    display: block;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    width: 20rem;
    height: 4rem;
    font-size: large;
    border-radius: 1rem;
    user-select: none;
    transition: all 1s ease;
}

.snackbar-stack {
    position: fixed;
    display: flex;
    padding: 1rem 0rem;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
}

@media (min-width: 576px) {
    .menu-open {
        left: 0;
        position: absolute;
        z-index: 4;
        width: 100vw;
    }
    .menu-btn {
        right: 1rem;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .container .input-container {
        width: 25rem;
    }
    .menu {
        left: -400px;
        width: 400px;
    }
    .menu-open {
        left: 0;
        position: absolute;
        z-index: 4;
    }
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .input-container {
        width: 25rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .input-container {
        width: 25rem;
    }
    .menu {
        left: -400px;
    }
    .menu-open {
        left: 0;
        width: 400px;
        height: 100vh;
    }
}

[v-cloak] {
    display: none;
}

.description {}

.description > h1 {
    margin-bottom: 0;
    margin-top: 2rem;
}

.about {
    line-height: 1.3;
}