body {
    background-color: #30afcf;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-title {
    font-size: 4rem;
    color: whitesmoke;
    text-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
    ;
}

.main {
    width: 60vw;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.flex.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main button {
    margin-bottom: 20px;
}

input[type=text] {
    font-size: 1.25rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 25px 0;
    box-sizing: border-box;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
    ;
    border: 3px solid #ccc;
    border-radius: 25px;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    outline: none;
}

button {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

button:hover {
    color: #41f28b;
    text-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
    ;
}

button::-moz-focus-inner {
  border: 0;
}

a:hover {
    text-decoration: none;
}